.form-popup{
    display: none;
}



/* Main style */

main{
    background: rgb(208, 209, 208);
    border-radius: 2%;
    margin-top: 1rem;

    padding: 3%;
}


/* Navbar */


.logo{
    color: white;
    font-family: 'Lobster', cursive;
}



/*  Form */

.form{
    width: 50%;
    margin: 0 auto;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .closebn{
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }


/* Book cards */

.container .table{
    margin-top: 5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;

}

.radio-btn{
  width: 100%;
}

input[type='radio'], label[for='read'], label[for='not-read']{
  margin-right: 1em;
}

.container .book{
   margin: 2.3%;
   border-top-right-radius: 2em;
   border-top-left-radius: 2em;
   padding: 1em;
   min-width: 28.5%;
   font-family: 'Abel', sans-serif;
}


/* Footer */

footer{

    margin-top: 2rem;
    margin-bottom: 1rem;
}
